
body {
    font-family: Arial, sans-serif;
    background-color: #ddd8d8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.input-group label {
    margin-bottom: 5px;
}

.input-group input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}

.remember-me {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.remember-me input {
    margin-right: 5px;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #4c9ef6;
    transform: scale(1.1);
    transition: ease 1s;
    box-shadow: 2px 2px 5px gray;
}

.signup {
    margin-top: 15px;
    text-align: center;
}

.signup a {
    text-decoration: none;
    color: #007bff;
}

.signup a:hover {
    text-decoration: underline;
}
